@import "../../styles/mixin";
@import "../../styles/variables";

.container{
    height: 100vh;
    background: transparent;
    box-sizing: border-box;
    @include centerFlexBox(column);
    justify-content: flex-start;

    .bg{
        background: $backgroundColor;
        // background: #e8e8f1;
        position: absolute;
        top:0;
        height: 75%;
        width: 100vw;
        border-radius: 0 0 50% 50%;
        z-index: -1;
    }
}

