@import "../../styles/variables";
@import "../../styles/mixin";

.inputBox{
    @include centerFlexBox(column);
    align-items: flex-start;
    width: 100%;
    margin: 0.5rem 0;
    span{
        margin-bottom: 0.5rem;
        font-weight: 400;
    }
    input{
        padding: 0.8rem 1rem;
        width: 100%;
        font-size: 1.1rem;
        outline: none;
        box-sizing: border-box;
    }
    .error{
        color: $errorColor;
        margin-top: 0.2rem;
        margin-bottom: 0;
    }
}