@import "../../styles/variables";

.btn{
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: $primaryColor;
    font-size: 1.3rem;
    font-weight: 500;
    color: $pure;
}