@mixin phone {
    @media only screen and (max-width: 600px) {
        @content
    }
}

@mixin customView($breakPoint) {
    @media only screen and (max-width: $breakPoint) {
        @content
    }
}
