@mixin centerFlexBox($direction:row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin row($justify-value:center){
    display: flex;
    justify-content: $justify-value;
    flex-wrap: wrap;
}