@import "../../styles/variables";
@import "../../styles/mixin";
@import "../../styles/breakpoints";

.container{
    @include centerFlexBox(column);
    
    background: $pure;
    padding: 2rem;
    width: 420px;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 $shadowColor;
    margin: 1rem;

    // align-self: center !important;

    @include phone{
        width: 350px;
    }

    @include customView(450px){
        width: 300px;
    }

    h2{
        font-size: 1.4rem;
        font-weight: 500;
        color: $headingColor;
        margin-bottom: 2.5rem;
    }
    .row{
        width: 100%;
        @include row(space-between);
        margin: 2rem 0;
        a{
            text-decoration: none;
            color: $primaryColor;
            @include customView(450px){
                padding-top: 0.5rem;
            }
        }
    }
}
